# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Maven/Gradle specific files
target/
build/

# Ignore Gradle specific files
.gradle/
build/

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore IntelliJ IDEA project files
*.iml
.idea/
*.ipr
*.iws

# Ignore NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore JRebel specific files
rebel.xml

# Ignore Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
